@import "global.css";

html {
    font-size: 62.5%;
    font-family: "Space Grotesk", serif;
}

#root {
    max-width: 124rem;
    margin: 0 auto;
}


/************** 헤더 ***************/
header{
    margin-top: 6rem;
}

#header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-wrapper img {
    width: 22rem;
}
#header-nav a{
    text-decoration: none;
    color: var(--black);
    margin-right: 4rem;
    font-weight: 400;
}
#header-nav a:last-child {
    margin-right: 0;
    padding: 2rem 3.5rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
}

/************ 메인 ****************/
main {
    margin-top: 7rem;
}

/** 탑배너 **/
.topBanner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.topBanner-content h1 {
    line-height: 6rem;
}
.topBanner-content p {
    font-weight: 400;
    margin-top: 3.5rem;
    line-height: 3rem;
}
.topBanner-content button {
    border: none;
    background-color: var(--black);
    color: #FFFFFF;
    padding: 2rem 3.5rem;
    border-radius: 1rem;
    font-weight: 400;
    margin-top: 5.5rem;
}

.topBanner-image {
    height: 51.5rem;
}

/** 컴퍼니 리스트 **/
.company-list {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
}

/** 서비스 배너 **/
.service-banner {
    display: flex;
    align-items: center;
    margin-top: 14rem;
    gap: 4rem;
}
.service-f4-wrapper {
    background-color: var(--green);
    width: 18rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/** 서비스 그리드 **/

.service-grid-wrapper {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem;
}

.grid-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
}

.grid-content img {
    width: 16rem;
}
.grid-image {
    display: flex;
    align-items: center;
}

.grid-div {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    height: 31rem;
    padding: 5rem 0;
    border-radius: 3rem;
    border: 1px solid var(--black);
    box-shadow: 0 0.6rem 0 0 #000000;
}

.grid-seo {
    background-color: var(--grey);
}
.grid-seo p {
    background-color: var(--green);
    padding: 0.5rem;
}

.grid-ppc {
    background-color: var(--green);
}
.grid-ppc p {
    background-color: #FFFFFF;
    padding: 0.5rem;
}

.grid-snm {
    background-color: var(--black);
}
.grid-snm p{
    background-color: #FFFFFF;
    padding: 0.5rem;
}

.grid-email {
    background-color: var(--grey);
}
.grid-email p {
    background-color: var(--green);
    padding: 0.5rem;
}

.grid-creation {
    background-color: var(--green);
}
.grid-creation p {
    background-color: #FFFFFF;
    padding: 0.5rem;
}

.grid-track {
    background-color: var(--black);
}
.grid-track p {
    background-color: var(--green);
    padding: 0.5rem;
}


/** PROPOSAL **/
.proposal-wrapper {
    margin-top: 10rem;
    background-color: var(--grey);
    border-radius: 3rem;
    padding-left: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.proposal-content {
    font-weight: 400;
}

.proposal-content p {
    margin-top: 2.5rem;
}
.proposal-content button {
    margin-top: 2.5rem;
    padding: 2rem 3.5rem;
    border: none;
    background-color: var(--black);
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 1rem;
}
.proposal-image {
}



/**** 케이스 배너 ****/
.case-banner {
    margin-top: 14rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.case-banner-wrapper {
    background-color: var(--green);
    width: 27rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** 케이스 Description ***/
.case-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dark);
    color: #FFFFFF;
    margin-top: 8rem;
    border-radius: 3rem;
    padding: 7rem 0;
}
.case-description img {
    margin-top: 2rem;
    max-width: 14rem;
}

.case-div {
    padding: 0 6rem;
    border-right: 1px solid #FFFFFF;
}

.case-div:last-child {
    border-right: none;
}


/* process banner */

.process-banner {
    margin-top: 14rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.process-banner-wrapper {
    background-color: var(--green);
    width: 41rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* process */

.process-description {
    margin-top: 8rem;
}
.process-wrapper {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    border-radius: 3rem;
    margin-top: 3rem;
    background-color: var(--grey);
    box-shadow: 0 0.6rem 0 0 #000000;
}

.process-div {
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 3rem;*/
    /*border-bottom: 1px solid var(--black);*/
}
.process-title {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.toggle-process {
    display: none;
    margin-top: 3rem;
    padding: 3rem 0;
    border-top: 1px solid var(--black);
}

.consultation .toggle-process {
    display: block;
}

.consultation {
    background-color: var(--green);
}


/** 팀 배너 **/
.team-banner {
    margin-top: 14rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.team-banner-wrapper {
    background-color: var(--green);
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/** TEAM DESCRIPTION **/
.team-description {
    margin-top: 8rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}